.icon__svg {
  cursor: pointer;
  width: 2.125rem;
  height: 2.1875rem;
  fill: blanchedalmond;

}

.icon__benefit{
  cursor: pointer;
  width: 3.25rem;
  height: 4.375rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);


}

.icon__dscr{
  fill: black;
  width: 1.5rem;
  height: 1.25rem;
}

.icon__socials{
  fill: #B3B3B3;
  width: 1.25rem;
  height: 1.25rem;
  margin-left: 14px;

  &:hover{
    fill: black;
  }
}
